bin
obj
*.suo
*.user
_ReSharper.*
*.DS_Store
*.userprefs
*.pidb
*.vspx
*.psess
*.log
*.binlog
packages
target
artifacts
StyleCop.Cache
node_modules
*.snk
.nuget/NuGet.exe
project.lock.json
.build
.vs/
.vscode/
global.json
launchSettings.json
korebuild-lock.txt
